[submodule "packages/verification-standard"]
	path = packages/verification-standard
	url = https://github.com/SottoFM/reference-verification-standard.git
[submodule "packages/maps"]
	path = packages/maps
	url = https://github.com/SottoFM/maps.git
